*{
    margin: 0;
    padding: 0;
}
.nav-contaier{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    padding: 20px;
    box-shadow: 10px 5px 5px 5px rgb(237, 181, 181) ;

}
.menus{
    list-style: none;
    display: flex;
    gap: 20px;
}
li{
    font-size: 20px;
}