*{
    margin: 0;
    padding: 0;
}
.nav-contaier{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    padding: 20px;
    box-shadow: 10px 5px 5px 5px rgb(237, 181, 181) ;

}
.logo{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo-c{
    color: orange;
    font-size: 28px;
    font-weight: bold;
}

.menus{
    list-style: none;
    display: flex;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
li:hover{
    color: rgb(247, 161, 0);
}
li{
    font-size: 20px;
}
.banner-conrainer{
    background-image: url(banner-img/banner.jpg);
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.content-title{
    font-family: 'Agdasima', sans-serif;
    font-family: 'Caprasimo', cursive;
    font-size: 60px;
    color: azure;
}
.digital{
    color: orange;
}
.title-description{
    font-size: 16px;
    color: rgb(242, 241, 239);
    margin: 10px 20px;
}
.btn-primary{
    background-color: rgb(240, 140, 9);
    border: 1px solid white;
    padding: 15px 25px ;
    font-size: 18px;
    border-radius: 5px;
    margin: 5px;
}
.btn-primary:hover{
    background-color: black;
    color: white;
}
.main-content{
    padding: 130px 200px;
    display: flex;
    justify-content:space-around;
    align-items: center;
  
}
.failures-img{
    height: 100vh;
   
}
.my-failures{
    width: 300px;
    top: 40px;
    align-items: center;
}
.f-img{
    border-radius: 80%;
    box-shadow: 5px 20px orange ;
}
.failures-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 25px;

}
.failures-list{
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(148, 156, 162);
}
.failures-description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(98, 100, 101);
}
.my-plan{
    width: 1000px;
    margin: auto;
    text-align: center;
    
}
.plan-title{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
 
}
.item-title{
    font-family: Arial, Helvetica, sans-serif;
}
.plan-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    margin: 30px 20px;
    padding: 100px 80px;
}
.plan-discription{
    color: rgb(85, 86, 88);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.positive-container{
    padding: 90px 110px;
}
.positive-content{
    width: 850px;
    height: 250px;
    background-image:linear-gradient(rgba(225, 100, 62, 0.7),rgba(156, 127, 127, 0.7)), url("watch.png") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.positive-item{
    width:450px;
}
.positive-title{
   margin: 5px 20px;
   font-size: 30px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(41, 39, 38);
}

.positive-btn{
    padding: 10px 15px ;
    margin-left: 15px;
    border: 0;
}
.positive-btn:hover{
    background-color: black;
    color: white;
}
/*******************************footer section***************/
.footer-container{
    background-color: black;
    padding: 170px 250px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-self: center;
  
}
.footer-column{
    color: white;
    width: 300px;
}
.footer-title{
    font-family: Arial, Helvetica, sans-serif;
}
.mall-int{
    padding: 10px 20px ;
    border-radius: 5px;
}
.subscribe-btn{
    padding: 8px 20px;
    margin: 10px 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-discription{
    font-family: Arial, Helvetica, sans-serif;
}
.social-icon i{
    font-size: 25px;
    margin: 5px;
}
.social-icon i:hover{
   color: rgb(93, 90, 90);
}
   
   
  
